* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000000; /* fundo preto */
  color: #ffffff; /* letras brancas */
  line-height: 1.6;
}

header {
  background: linear-gradient(135deg, #800020, #8b0000); 
  /* bordô → vinho */
  color: white;
  text-align: center;
  padding: 50px 20px;
  box-shadow: 0 0 25px rgba(139, 0, 0, 0.8);
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #ff4d6d, 0 0 20px #ff4d6d, 0 0 30px #ff1a4c;
}

header p {
  font-size: 1.2rem;
  text-shadow: 0 0 8px #facc15, 0 0 15px #facc15;
}

nav {
  margin-top: 20px;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  text-shadow: 0 0 5px #ff4d6d, 0 0 10px #ff4d6d;
}

nav a:hover {
  color: #facc15;
  text-shadow: 0 0 10px #facc15, 0 0 20px #facc15;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
}

section {
  margin-bottom: 60px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #ff4d6d;
  text-shadow: 0 0 10px #ff4d6d, 0 0 20px #ff1a4c;
}

.sobre {
  text-align: center;
  font-size: 1.1rem;
  text-shadow: 0 0 6px rgba(255,255,255,0.6);
}

.projetos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 77, 109, 0.4);
  transition: 0.3s;
  color: white;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(255, 77, 109, 0.7);
}

.card h3 {
  margin-bottom: 10px;
  color: #ff4d6d;
  text-shadow: 0 0 10px #ff1a4c, 0 0 20px #ff4d6d;
}

footer {
  background: #8b0000;
  color: white;
  text-align: center;
  padding: 20px;
  text-shadow: 0 0 8px #ffffff, 0 0 15px #ff4d6d;
  box-shadow: 0 -2px 15px rgba(139, 0, 0, 0.8);
}

.social a {
  margin: 0 10px;
  color: white;
  font-size: 1.4rem;
  transition: 0.3s;
  text-shadow: 0 0 8px #ffffff, 0 0 15px #ff4d6d;
}

.social a:hover {
  color: #facc15;
  text-shadow: 0 0 15px #facc15, 0 0 25px #ff4d6d;
}
